// general styles

// font
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

// colors
$white: #F9F5F2;
$red: #F85F5F;
$orange: #EE9862;
$yellow: #FFCF66;
$green: #89B692;
$blue: #79ACD1;
$black: #4E4F4F;
