// general styles

// font
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

// colors
$white: #F9F5F2;
$red: #F85F5F;
$orange: #EE9862;
$yellow: #FFCF66;
$green: #89B692;
$blue: #79ACD1;
$black: #4E4F4F;

// mixins
@mixin custom-h1($size) {
    color: $black;
    font-family: $font;
    font-size: $size;
    font-weight: lighter;
}

@mixin custom-h2($size) {
    color: $black;
    font-family: $font;
    font-size: $size;
    font-weight: lighter;
}

@mixin custom-h3($size) {
    color: $black;
    font-family: $font;
    font-size: $size;
    font-weight: lighter;
}


html {
    font-size: 62.5%;
}

body {
    font-size: clamp(1.6rem, 1.7vw, 1.8rem);
}

img {
    width: 100%;
    height: auto;
}

#app {
  color: $black;
  background-color: $white;

  font-family: 'Sorts Mill Goudy', serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  
}

h1 {
    font-size: clamp(3.2rem, 3.6vw, 3rem);
}

h2 {
    font-size: clamp(2.8rem, 3vw, 3.2rem);
}

h3 {
    font-size: clamp(2.4rem, 2.6vw, 2.8rem);
}

h4 {
    font-size: clamp(2rem, 2.1vw, 2.2rem);
}

section {
    padding: 60px 0;
}

.logo {
    max-width: 200px;
    // width: clamp(150px, 4vw, 200px);
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

// logo stuffs
.emphasis {
    font-style: italic;
}

.red {
    color: $red;
}

.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}

// highlights
.highlight-r {
    background-image: url('~@/assets/highlight-red.png');
}

.highlight-o {
    background-image: url('~@/assets/highlight-orange.png');
}

.highlight-y {
    background-image: url('~@/assets/highlight-yellow.png');
}

.highlight-g {
    background-image: url('~@/assets/highlight-green.png');
}

.highlight-b {
    background-image: url('~@/assets/highlight-blue.png');
}

.highlight {
    font-style: normal;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position: 50%;
    padding: 3px;
}

// buttons
.square-btn {
    border: .5px solid $black;

    text-align: center;

    padding: 10px 20px;
    min-width: 120px;
    width: clamp(180px, 3vw, 240px);

    display: inline-block;
    
    transition: .5s all;
}

// hover, focus +  active states
.click-r {
    &:hover,
    &:focus,
    &:active {
        color: $red;
    }
}

.click-o {
    &:hover,
    &:focus,
    &:active {
        color: $orange;
    }
}

.click-y {
    &:hover,
    &:focus,
    &:active {
        color: $yellow;
    }
}

.click-g {
    &:hover,
    &:focus,
    &:active {
        color: $green;
    }
}

.click-b {
    &:hover,
    &:focus,
    &:active {
        color: $blue;
    }
}

.spread {
    &:hover,
    &:focus,
    &:active {
        letter-spacing: 3px;
    }
}

// info bubble
.pillar {
        position: relative;
        
    }

    .pillar-icon {
        cursor: pointer;
    }

    .info-bubble {
        background-image: url('~@/assets/info-bubble.png');
        background-repeat: no-repeat;
        background-size: 100% 70%;
        background-position: 50%;
       
        font-size: 1.4rem;
        text-align: center;

        padding: 20px 15px 27px;
        
        display: inline-block;

        position: absolute;
        top: -70px;
    }